<GridLayout rows="auto, auto" columns="*">
    <Image [src]="product.image" row="0"></Image>
    <StackLayout row="2" class="m-10">
        
        <Label [text]="product.name" textWrap="true" class="h3"></Label>
        <Label text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt voluptatum, asperiores debitis sunt quibusdam quod soluta alias sapiente sed possimus sit odio est odit perferendis vel inventore facilis saepe!" textWrap="true"></Label>
    </StackLayout>
    
    

</GridLayout>